# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la

# vim swap files
*.swp

# Mac compiled project
FinalProject/menger
FinalProject/blends
